<!--https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17871302#questions/9229912-->
<div class="ui grid stackable">
  <div class="five wide column">
    <app-email-create></app-email-create>
    <app-email-index></app-email-index>
  </div>
  <div class="eleven wide column">
    <!-- https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17871446#questions/9229912-->
    <router-outlet></router-outlet>
  </div>
</div>
<!--https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17884106#notes -->

<!--<app-modal>
  <h3 modalTitle>Compose</h3>
  <p>
    Im some content
  </p>
  <div modalFooter>
    <button class="ui primary button">
      Custom button
    </button>
  </div>
</app-modal> -->


<!-- https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17884116#notes-->
