<!--https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17869728#overview-->
<!--https://angular.io/api/router/RouterLink-->
<!--https://angular.io/api/router/RouterLinkActive -->
<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular email</a>
    <div class="right menu">
      <!--https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17869776#questions-->
      <!-- the Async pipe allows us to have a reference directly yo a promise or an observable -->
      <ng-container *ngIf="signedin$ | async">
        <a class="ui item" routerLink="/inbox" routerLinkActive="active">
          Inbox
        </a>
        <a class="ui item" routerLink="/signout" routerLinkActive="active">
          Sign Out
        </a>
      </ng-container>
      <!-- ngElse could also be used here -->
      <ng-container *ngIf="!(signedin$ | async)">
        <!-- additional anchor tag is needed as "/" is available in each linke, making this link always active https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17870930#questions-->
        <!-- We need to wrap the attribute with [] as we are referencing an object-->
        <a class="ui item"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
          Sign In
        </a>
        <a class="ui item" routerLink="/signup" routerLinkActive="active">
          Sign Up
        </a>
      </ng-container>
     </div>
  </div>

  <router-outlet></router-outlet>
</div>


